.page-guiEditor-layout {
  background-color: #262626;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

.page-guiEditor {
  width: 100vw;
  height: 100vh;

  .ht-layout-header,
  .ht-layout-sider,
  .ht-layout-content {
    background-color: transparent;
  }
}

a.is-disabled {
  cursor: not-allowed;
  color: hsla(0, 0%, 100%, 0.7);

  &:focus,
  &:hover,
  &:active,
  &:visited {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
