{
  "presets": [],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "~": "./src",
          "@test": "./test",
          "*": ["src/*", "node_modules/*"]
        }
      }
    ]
  ]
}
